# Don't commit dependencies.
/node_modules
# All build artefacts can be ignored.
/dist
/ts-temp
# This is a typescript project!
*.js
# No binaries or big data files.
*.png
# Cards are loaded adaptively through the S3 Bucket.
cards.json